@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");

.icon {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

.banner {
  position: relative;
  background-position: center 40%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

.banner_title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--ap-color-white);
  text-shadow: var(--ap-shadow);
}

.banner_subtitle {
  font-size: 1.5rem;
  text-align: center;
  color: var(--ap-color-white);
}

.section {
  padding: 80px 20px;
  background-color: var(--ap-color-white);
  text-align: center;
  color: var(--ap-color-black);
}

.section_container {
  max-width: 960px;
  margin: auto;
  width: fit-content;
}

.section_title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--ap-color-primary);
}

.section_content {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 1.5rem;
}

.card_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 40px;
}

.card {
  background: #f0fdfd;
  border-left: 4px solid var(--ap-color-primary);
  border-radius: 12px;
  padding: 24px;
  box-shadow: var(--ap-shadow);
  flex: 1 1 300px;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.card:hover {
  background: #e0f7f7;
  transform: translateY(-4px);
  box-shadow: var(--ap-shadow-hover);
}

.card_title {
  color: var(--ap-color-primary);
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.schedule {
  display: flex;
  align-items: end;
  gap: 8px;
}

.schedule_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.schedule_day {
  font-size: 1.5rem;
  padding-bottom: 4px;

  border-bottom: 2px solid #000;
}

.schedule_times {
  display: flex;
  align-items: center;
  gap: 8px;
}

.schedule_time {
  font-size: 1.8rem;
  font-weight: 600;
}

.video_container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: var(--ap-color-black);
  margin-top: 40px;
}

.video_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map_container {
  border-radius: 8px;
  margin-top: 16px;
}

.map_iframe {
  width: 100%;
  height: 300px;
}

iframe {
  width: 100%;
  max-width: 800px;
  height: 1000px;
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.display_img {
  width: 100%;
  height: 250px;
  margin-bottom: 4px;
  border-radius: 14px;
  object-fit: cover;
  box-shadow: var(--ap-shadow);
  transition: transform 0.3s;
}

.display_img:hover {
  transform: scale(1.03);
  box-shadow: var(--ap-shadow-hover);
}

.display_title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ap-color-primary);
}

.display_content {
  font-size: 1rem;
  line-height: 1.5;
}

.highlight_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #cdeffc;
  border-radius: 20px;
  padding: 25px 35px;
  box-shadow: var(--ap-shadow);
  color: #007c91;
  transition: all 0.3s ease;
}

.highlight:hover {
  transform: translateY(-4px);
  box-shadow: var(--ap-shadow-hover);
}

.highlight span {
  color: var(--ap-color-primary);
}

.fade-up {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-up.invisible {
  opacity: 0;
  transform: translateY(20px);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

strong {
  font-weight: 600;
  color: var(--ap-color-primary);
}

.wide {
  max-width: 1200px;
  margin: auto;
}

.theme-light {
  background-color: #d9d9d9;
  color: var(--ap-color-black);
}

.theme-dark {
  background-color: var(--ap-color-black);
  color: var(--ap-color-white);
}

.theme-normal {
  background-color: #a6a6a6;
  color: var(--ap-color-black);
}

.theme-green {
  background-color: var(--ap-color-primary);
  color: var(--ap-color-white);
}

.theme-yellow {
  background-color: #fff9db;
  color: var(--ap-color-black);
}

.theme-orange {
  background-color: #fff2e0;
  color: var(--ap-color-black);
}

.theme-blue {
  background-color: #e0f4fa;
  color: var(--ap-color-black);
}

@media (max-width: 600px) {
  .banner_title {
    font-size: 2.5rem;
  }
  .section_title {
    font-size: 2rem;
  }
}
